body {
  display: grid;
  min-height: 97vh;
  background-color: #2b2b2b;
  justify-content: center;
  align-content: center;
}

audio {
  display: none;
}

button {
  display: none;
  background: transparent;
  border: none;
  outline: none;
  color: #e2e2e2;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.visible {
  display: block;
}

svg {
  width: 150px;
  height: 150px;
}